h1{
    padding-top: 10px;
    font-size: 60px;
    text-align: center;
    color: 	#003060;
}

li{
    text-align: center;
    font-size: 30px;
    color: #004B97;
    line-height: 45px;
    font-weight: bold;
    text-align: left;
   
}   

.book{
    width: 1510px;
    height: 900px;
}

.video{
    
    border-style: dashed;
    border-width: 20px;
    border-color: #003D79;
    border-radius: 10px;
    padding-left:10px ;
    padding-right: 2px;
    border-image: url(image/2.png)80 80 100 100 ;
}

