@charset "UTF-8";

body{
    background-image: url(../image/pic04.jpg);
    background-color: 	#5e048fe3;
}
.link{
    margin-top: 50px;
    font-size: 25px;
    margin-right: 300px;
    margin-left: 300px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.logo{
    width: 1000px;
    margin-top: 40px;
    margin-left: 250px;
}
.photo{
    position: absolute;
    z-index: 1;
    width: 750px;
    height: 600px;
    margin-left: 200px;
    margin-top: 25px;
}
.back1{
    position: absolute;
    z-index: -1;
    height: 500px;
}
.contents{
    position: absolute;
    z-index: 1;
    margin-top: 620px;
    margin-bottom: 25px;
    margin-left: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.button{
    border: 0;
    background-color: #9999FF;
    color:#fff;
    border-radius:10px;
    cursor:pointer;
    font-size: 15px;
    font-family: "標楷體";
    font-weight: bolder;
}
.button:hover{
    color:#9999FF;
    background-color:#fff;
    border:2px #9999FF solid;
}
h1{
    color: #99BBFF;
}
span{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #CCEEFF;
    font-size: 25px;
}
.time{
    margin-left: 200px;
    padding: 10px;
}
.other{
    margin-top: 5pxpx;
    padding: 20px;
    margin-bottom: 25px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.footer{
    margin-top: 800px;
}