body{
    background-color: rgb(38, 56, 83);
}

h1{
    font-size: 45px;
    color: whitesmoke;
    text-align: center;
    font-family: 微軟正黑體;
}

.link{
    margin-top: 40px;
    margin-bottom: 15px;
    font-size: 25px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-around;
    font-family: 微軟正黑體;
}

iframe{
    margin-top: 15px;
    margin-left: 200px;
    float: left;
    padding-right: 30px;
}

h2{
    color: rgb(36, 35, 35);
    font-family: "微軟正黑體";
    background-color: rgb(255,204,65);
    text-align: center;
}

.name{
    margin-right: 200px;
    padding-left: 20px;
    margin-left: 790px;
    font-family: 微軟正黑體;
}

.name p{
    font-size: 20px;
    color: whitesmoke;
    font-family: 微軟正黑體;
    line-height: 200%;    
}

table{
    clear: both;
    /*margin-left: 200px;*/
    margin: auto;
    font-size: 18px;
    font-family: 微軟正黑體;
}

.building{
    clear: both;
    margin-left: 200px;
    margin-right: 200px;
    padding-top: 20px;
    font-family: 微軟正黑體;
    line-height: 200%;
}

.building p{
    color: whitesmoke;
    font-size: 20px;
    font-family: 微軟正黑體;
}

.table th{
    background-color: #005aad;
    font-family: 微軟正黑體;
    color: whitesmoke;
}

td{
    background-color: #a1d2ffd7;
    font-family: 微軟正黑體;
    color: rgb(36, 36, 36);
}

.table a:visited{
    color: #0015d3;
    font-family: 微軟正黑體;
}