body{
    background-color: midnightblue;
}

.root{
    display: flex;
    justify-content: center;
    align-items: center;
}

.item{
    position: relative;
    width: 1500px;
    height: 900px;
    margin: 25px;
    display: flex;
}

.book{
    position: absolute;
    z-index: -1;
    width: 1510px;
    height: 900px; 
}

.content_one{
    position: absolute;
    z-index: 1;
    display: flex;
    flex-direction: column;
    margin: 160px 0 10px 270px;
}

.content_two{
    position: absolute;
    z-index: 1;
    display: flex;
    flex-direction: column;
    margin: 160px 0 10px 755px;
}

.intro{
    display: flex;
}

.name{
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    font-size: 12px;
}

img{
    width: 150px;
    height: 200px;
}

.experience{
    width: 400px;
    height: 200px;
    line-height: 200%;
    font-size: 20px;
}