@charset "UTF-8";

body{
    background-image: url(../image/pic04.jpg);
}
.link{
    margin-top: 50px;
    font-size: 25px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
a{text-decoration: none;}
.logo{
    width: 1000px;
    margin-top: 40px;
    margin-left: 250px;
}
.photo{
    width: 600px;
    height: 400px;
    display: flex;
    justify-content: center;
    margin: auto;
}
.contents{
    margin: 30px 150px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border: solid mediumpurple;
}
.button{
    border: 0;
    background-color: #9999FF;
    color:#fff;
    border-radius:10px;
    cursor:pointer;
    font-size: 15px;
    font-family: "標楷體";
    font-weight: bolder;
}
.button:hover{
    color:#9999FF;
    background-color:#fff;
    border:2px #9999FF solid;
}
h1{color: #99BBFF;}
span{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #CCEEFF;
    font-size: 25px;
}
.time{
    padding: 10px;
}
.other{
    margin-top: 5pxpx;
    padding: 20px;
    margin-bottom: 25px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.slides{
    position: relative;
    width: 600px;
    height: 450px;
    margin: 40px;
    padding: 0;
    background-color: #eee;
    overflow: hidden;
    float: left;
}
img.slide{
    margin: 0;
    padding: 0;
    width: inherit;
    height: inherit;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Helvetica";
    font-size: 120px;
    color: #fff;
    transition: .5s transform ease-in-out;
}
.slide:nth-of-type(2) {
    left: 100%;
}
.slide:nth-of-type(3) {
    left: 200%;
}
.slide:nth-of-type(4) {
    left: 300%;
}
input[type="radio"]{
    position: relative;
    z-index: 100;
    display: none;
}
.controls-visible {
    position: absolute;
    width: 100%;
    bottom: 12px;
    text-align: center;
}
.controls-visible label {
    display: inline-block;
    width: 10px;
    height: 10px;
    background-color: #fff;
    border-radius: 50%;
    margin: 0 3px;
    border: 2px solid #fff;
}
.slides input[type="radio"]:nth-of-type(1):checked ~ .controls-visible label:nth-of-type(1) {
    background-color: #333;
}
.slides input[type="radio"]:nth-of-type(2):checked ~ .controls-visible label:nth-of-type(2) {
    background-color: #333;
}
.slides input[type="radio"]:nth-of-type(3):checked ~ .controls-visible label:nth-of-type(3) {
    background-color: #333;
}
.slides input[type="radio"]:nth-of-type(4):checked ~ .controls-visible label:nth-of-type(4) {
    background-color: #333;
}
.slides input[type="radio"]:nth-of-type(1):checked ~ .slide {
    transform: translatex(0%);
}
.slides input[type="radio"]:nth-of-type(2):checked ~ .slide {
    transform: translatex(-100%);
}
.slides input[type="radio"]:nth-of-type(3):checked ~ .slide {
    transform: translatex(-200%);
}
.slides input[type="radio"]:nth-of-type(4):checked ~ .slide {
    transform: translatex(-300%);
}
.news{
    list-style: none;
}
h2{
    font-size: 30px;
    color: #99BBFF;
}
.lasted-news{
    display: flex;
    justify-content: center;
    font-size: 20px;
    font-weight: bolder;
}
ol{
    margin: 0;
    padding: 0;
    width: 580px;
}
#odd{
    background-color: lightcyan;
    height: 80px;
}
#even{height: 80px;}
#even p{color: rgb(202, 202, 202);}
#even a{color: rgb(202, 202, 202);}
p{ margin: 0;}
    