body{
    background-color: midnightblue;
}

h1{
    font-size: 45px;
    color: #550088;
    text-align: center;
}

.link{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 40px;
    margin-bottom: 15px;
    font-size: 25px;
}

.frame{
    display: flex;
    margin: 0 200px 0 200px;
}

.list{
    display: flex;
    position: relative;
    position: fixed;
}

li{
    color: oldlace;
}

.list a{
    text-decoration: none;
}

.list li:hover{
    color: orangered;
    text-decoration: underline;
}

.contents{
    padding-left: 30px;
    margin-left: 220px;
}

h2{
    color: #5959cf;
    padding: 5px;
    font-size: 30px;
    border-left: 8px solid #5959cf;
    border-bottom: 2px solid #5959cf;
}

.words{
    padding-left: 25px;
}

.triangle>h3::before{
    content: '';
    position: relative;
    border-top: 30px solid #FF9999;
    top: 30px;
    left: -10px;
    border-bottom: 30px solid transparent;
    border-right: 30px solid transparent;
}

h3{
    color: #FF9999;
    font-size: 25px;
}

p,ol,ul{
    color: #FFFFFF;
    font-family: "標楷體";
    font-size: 20px;
}

h4{
    color: #D4C2FC;
    font-size: 20px;
}

h5{font-size: 22px;}

.app{
    display: inline-flex;
    flex-direction: row;
}

.and{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px;
}

.and a{
    color: seashell;
    text-decoration: none;
}

.and a:hover{
    color: blue;
    text-decoration: underline;
}

.and a:visited{
    color: purple;
    text-decoration: underline;
}

.apple{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px;
}

.app a{
    color: seashell;
    text-decoration: none;
}

.app a:hover{
    color: blue;
    text-decoration: underline;
}

.app a:visited{
    color: purple;
    text-decoration: underline;
}

.movie a{
    color: white;
    text-decoration: none;
}

.movie a:hover{
    color: blue;
}