@charset "UTF-8";

body{
    background-image: url(../image/pic04.jpg);
}
h1{
    font-size: 45px;
    font-family: "標楷體";
    color: thistle;
    display: flex;
    justify-content: center;
    align-items: center;
}
h2{
    color: #330033;
}
p{color: #FFFFCC;}
ol{color: #FFFFCC;}
