@charset "UTF-8";

body{
    background-image: url(../image/pic04.jpg);
}
h1{
    color: azure;
    font-family: "微軟正黑體";
    font-weight: bolder;
    font-size: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 60px;
}
.card{
    margin: 190px;
    display: flex;
    flex-direction: row;
    justify-content:center;
    align-items: center;
}
img{
    padding: 30px;
    width: 180px;
    height: 260px;
}